<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

    <h2>Ici tu va voir prochainement des potins  va sur ce lien <a href="/gossips/new/">le texte du lien</a>
    </h2>

    <% gossips.each do |gossip| %>
      <p>
        <%= gossip[0]%>
        <%= gossip[1].author %><br/>
        <%= gossip[1].content %>
      </p>
    <% end %>


   
    
    
  </body>
</html>