
<h1>Voici la page du gossip "<%= @gossip.title%>"</h1>
<h3 class="ts">Contenu:<h1>
<p class = "gs"><%= @gossip.content %></p>
<p class="right gs">Créer le <%= @gossip.created_at.to_s(:db) %> par <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", author_path(@gossip.user_id) %>